## .NET / Visual Studio
bin/
obj/
publish/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.csproj.user

## Rider / JetBrains
.idea/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
